In [107]:
import pandas as pd
import numpy as np
import os
import glob
import sqlite3

In [96]:
df = pd.read_csv("energia.csv")

In [97]:
dizio ={"Valle d'Aosta / Vallée d'Aoste":"Valle_Aosta",
        "Trentino Alto Adige / Südtirol": "Trentino Alto Adige",
        "Provincia Autonoma Bolzano / Bozen": "Bolzano"
        } 

df=df.replace({'Territorio':dizio})
lista=df["Territorio"].unique().tolist()
lista

['Italia',
 'Nord-ovest',
 'Piemonte',
 'Valle_Aosta',
 'Liguria',
 'Lombardia',
 'Nord-est',
 'Trentino Alto Adige',
 'Bolzano',
 'Provincia Autonoma Trento',
 'Veneto',
 'Friuli-Venezia Giulia',
 'Emilia-Romagna',
 'Centro',
 'Toscana',
 'Umbria',
 'Marche',
 'Lazio',
 'Mezzogiorno',
 'Abruzzo',
 'Molise',
 'Campania',
 'Puglia',
 'Basilicata',
 'Calabria',
 'Sicilia',
 'Sardegna']

In [43]:
# df['Territorio'] = df['Territorio'].str.replace("Valle dAosta / Vallée d'Aoste",'Valle dAosta')
# df['Territorio'] = df['Territorio'].str.replace("Trentino Alto Adige / Südtirol",'Trentino Alto Adige Südtirol')
# df['Territorio'] = df['Territorio'].str.replace("Provincia Autonoma Bolzano / Bozen",'Provincia Autonoma Bolzano')

In [98]:
df.value_counts("Territorio")

Territorio
Italia                       17
Abruzzo                      11
Molise                       11
Valle_Aosta                  11
Umbria                       11
Trentino Alto Adige          11
Toscana                      11
Sicilia                      11
Puglia                       11
Provincia Autonoma Trento    11
Piemonte                     11
Nord-ovest                   11
Nord-est                     11
Mezzogiorno                  11
Basilicata                   11
Marche                       11
Lombardia                    11
Liguria                      11
Lazio                        11
Friuli-Venezia Giulia        11
Emilia-Romagna               11
Centro                       11
Campania                     11
Calabria                     11
Bolzano                      11
Veneto                       11
Sardegna                      9
dtype: int64

In [99]:
lista=df["Territorio"].unique().tolist()
lista

['Italia',
 'Nord-ovest',
 'Piemonte',
 'Valle_Aosta',
 'Liguria',
 'Lombardia',
 'Nord-est',
 'Trentino Alto Adige',
 'Bolzano',
 'Provincia Autonoma Trento',
 'Veneto',
 'Friuli-Venezia Giulia',
 'Emilia-Romagna',
 'Centro',
 'Toscana',
 'Umbria',
 'Marche',
 'Lazio',
 'Mezzogiorno',
 'Abruzzo',
 'Molise',
 'Campania',
 'Puglia',
 'Basilicata',
 'Calabria',
 'Sicilia',
 'Sardegna']

In [74]:
# for i in lista:
#     csv_filename = f"cartellacsv/{i}.csv"  
#     xlsx_filename = f"cartellaxls/{i}.xlsx" 
#     subset_df = df[df["Territorio"] == i] 
#     subset_df.to_csv(csv_filename)
#     df_csv = pd.read_csv(csv_filename)
#     df_csv.to_excel(xlsx_filename, index=False)

In [100]:
for i in lista:
    df[df["Territorio"] == i].to_csv(f"cartellacsv/{i}.csv", index=False)
    df[df["Territorio"] == i].to_excel(f"cartellaxlsx/{i}.xlsx", index=False)

In [101]:
files = os.path.join("cartellaxlsx/","*.xlsx")
files = glob.glob(files)
df = pd.concat(map(pd.read_excel, files), ignore_index=True)
df.to_csv("totale1.csv", sep= ",", index=False)

In [102]:
files = os.path.join("cartellaxlsx/","*.xlsx")
files = glob.glob(files)
df = pd.concat(map(pd.read_excel, files), ignore_index=True)
df.to_excel("totale1.xlsx", index=False)

In [2]:
import pandas as pd
df = pd.read_excel("anagrafica.xlsx", dtype={"partita_iva":str, "codice_fiscale":str})
df["codice_fiscale"] = df["codice_fiscale"].str.zfill(11)
df["partita_iva"] = df["partita_iva"].str.zfill(11)
df

,ragione_sociale,partita_iva,codice_fiscale
0,COSCO SHIPPING LINES (ITALY) S.R.L.,01545620997,01545620997
1,CONFARTIGIANATO TORINO SERVIZI PER LE IMPRESE ...,09055130018,09055130018
2,MA.RE.TO 77 S.R.L.,12216370010,96684430018
3,OFFICINE METALMECCANICHE LAZIALI S.R.L. IN SIG...,02156300598,02156300598
4,ELIABRUZZO - S.R.L.,01430240695,01430240695
...,...,...,...
395,ALIARA VINI SOCIETA' AGRICOLA S.R.L. ALIARA SO...,03541160549,03541160549
396,ALICA SOCIETA' COOPERATIVA AGRICOLA,03015810603,03015810603
397,ALLEANZA AGRICOLA SOCIETA' COOPERATIVA,02155190982,02155190982
398,ALLEVAMENTI & PODERI PADANI SOCIETA' AGRICOLA ...,01655970190,01655970190
399,ALLEVAMENTI AURORA SOCIETA' AGRICOLA COOPERATI...,00605890045,00605890045

In [118]:
def populate_sqlite_from_df(df, database_file,tablename):    
    # Connette al database SQLite
    conn = sqlite3.connect(database_file)
    # Scrivi il DataFrame nel database SQLite
    df.to_sql(tablename, conn, if_exists='replace', index=False)
    # Chiudi la connessione al database
    conn.close()

populate_sqlite_from_df(df,"test1.db","anagrafica")

In [3]:
df.to_parquet("anagrafica.parquet", index=False)